@tailwind base;
@tailwind components;
@tailwind utilities;
 
header ul li {
    @apply px-5;
}
.bg-primary{
    background-image: linear-gradient(90deg, #6b79a8 10%, #1b2f8a 100%);
}
.bg-secondary{
    background:linear-gradient(-90deg, #6b79a8 70%, #1b2f8a 100%);
}

.mobile-nav{
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;
}
.mobile-nav li{
    @apply w-full h-full text-center border-b-2;

}
.project-desc{
    @apply absolute left-0 right-0 bottom-[0px] top-[0px] bg-secondary opacity-0 duration-500 hover:opacity-100;
}
.btn{
    @apply bg-black px-5 py-1 font-bold hover:border-2 border-white rounded;
}
html{
    scroll-behavior: smooth;
}